{% extends "base.html" %}
{% block content %}


<table>
    <tr>
        <th>
    <b>Name: </b>
        </th>
        <th>
    <b>Description: </b>
        </th>
        <th>
    <b>Size: </b>
        </th>
    
        <th>
    <b> Stock Quantity: </b>
        </th>
        <th>
    <b> Buying Cost: </b>
        </th>
    
        <th>
    <b> Selling Price: </b>
        </th>
        <th>
    <b> Manufacturer: </b>
        </th>
    
        <th>
    <b> Shipping Speed: </b>
        </th>
    
        <th>
    <b> Mark Up: </b>
        </th>
    
        <th>
    <b> Status: </b>
        </th>

        <th>
    <b> Actions: </b>
        </th>
    
    
    </tr>
    <tr>
        <td> {{product.name}} </td>
        <td> {{product.description}} </td>
        <td> {{product.size}} </td>
        <td> {{product.stock_quantity}} </td>
        <td> {{product.buying_cost}}</td>
        <td>{{product.selling_price}}</td>
        <td> {{product.manufacturer.name}}</td>
        <td>{{product.manufacturer.shipping_speed}}</td>
        <td>{{product.markup()}}% </td>
        <td>     
            {% if product.stock_quantity > 5%}
            In Stock &#9989; 
            {% elif product.stock_quantity > 0 and product.stock_quantity < 5 %}
            Low Stock
            {% else %}
            Out of Stock &#10060; 
            {% endif %}</td>
    <td> <a href="/products/{{product.id}}/edit"> Edit </a>
        <form class ="delete-form" action="/products/{{product.id}}/delete" method="POST">

            <button style="font-size: 15;" class="trash-button"> Delete
                 <i class="fa fa-trash-o fa-3x" style="color:red"></i> 
            
            </button>
        
        
            </form></td>
    </tr>
   </table>


{% endblock %}