{% extends "base.html" %}

{% block content%}
{% for manufacturer in all_manufacturers %}
<div>
{{ manufacturer.name}}

{{ manufacturer.shipping_speed}}


{% if manufacturer.status %}
 <b> Status: </b> Active &#9989; 

{% else%}

<b> Status: </b> Inactive &#10060;
</div>

{% endif%}
<a href="/manufacturers/{{manufacturer.id}}"> View   </a>


<form class ="delete-form" action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
       
    <button style="font-size: 15;" class="trash-button"> Delete
         <i class="fa fa-trash-o fa-3x" style="font-size:30px ;color:red"></i> 
    
    </button>


    </form>

    

{% endfor %}

{% endblock %}