{% extends "base.html" %}

{% block content%}



<table class="styled-table">

    <tr class="table2">
<th> <b>Manufacturer: </b>  </th>
<th>  <b>Shipping Speed: </b> </th>
<th>  <b>Status: </b>  </th>
<th>  <b>Details: </b> </th>
<th></th>
    </tr>
    {% for manufacturer in all_manufacturers %}
<tr>
<td>{{ manufacturer.name}}</td>
<td>{{ manufacturer.shipping_speed}}</td>
<td>{% if manufacturer.status %}
     Active &#9989; 
   
   {% else%}
   
  Deactivated &#10060;</td>
  {% endif%}
<td><a href="/manufacturers/{{manufacturer.id}}"> View   </a></td>
<td><form class ="delete-form" action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
       
    <button style="font-size: 15;" class="trash-button"> Delete
         <i class="fa fa-trash-o fa-3x" style="font-size:30px ;color:red"></i> 
    
    </button>


    </form></td>
    
</tr>
{% endfor %}
</table>  



{% endblock %}