body{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 8%;
    background-color: black;
    font-family: "neon-tubes-2-regular", sans-serif;
}

header{
    background-position: center;
    background: no-repeat top center fixed;
    background-size: contain;
    position: relative;
}

body > header > div{
    display: flex;
    justify-content: center;
}

.sneaker{
    width: 300px;
}

#home{
    color: #B22222;
    font-size: 80px;
    font-family:'Roboto', sans-serif;
    
}

.title{
    color:#dddddd;
    font-size: 60px;
    text-align: -webkit-center;
    padding-top: 40px;

}

#img{
margin-top: 50px;
}


.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.menu a {
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.menu a i{
    margin-right: 5px;
    
}


body > header > h1{
    color: black;
    font-family: 'Roboto', sans-serif;
    size: 150px;
}
h2{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: -webkit-fill-available;
    box-shadow:  0px 20px 20px 0px #aa001938;
    
}
.thead{
    font-family:'neon-tubes-2-regular';
    color: #dddddd;
}
.table2{
    font-family: 'neon-tubes-2-regular';
    color: #dddddd;
}

.font1{
    font-family: 'neon-tubes-2-regular';
    color: #dddddd;
      }
.font2{
    font-family: 'neon-tubes-2-regular';
    color: #dddddd;
      }
      
.styled-table tr {
    background-color: #dddddd;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.styled-table tr:first-of-type th {
    background-color: #B22222;
 
}
.styled-table tr:first-of-type th:first-of-type{
    border-radius: 15px 0 0;
}
.styled-table tr:first-of-type th:last-of-type{
    border-radius:  0  15px 0 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  label{
    color:#B22222
  }
  #manufacturer{
    width: 100%;
    padding: 12px 20px;
  }

  .new-product{  
    text-align: center;   
    padding: 12px 20px;

    }  

   .center{  
        font-size: 25px;  
        color: #B22222;
   }

   #shipping_speed{
    width: 100%;
    padding: 12px 20px;
   }

   #status{
    width: 100%;
    padding: 12px 20px;
   }

   .btn{
    text-align: center;   
    padding: 12px 20px;

   }

   .icons{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
   }

   footer {
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

@font-face {
    font-family: "neon-tubes-2-regular";
    src:
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype")
    ;
  }
  
  .neon-red {
    --neon: hsl(355 100% 95%);
    --neon-glow: hsl(355 98% 40%);
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
 
  h1 > i {
    color: var(--neon);
    text-shadow: 
      0 0 20px var(--neon-glow),
      0 0 2.5vmin var(--neon-glow),
      0 0 5vmin var(--neon-glow),
      0 0 10vmin var(--neon-glow),
      0 0 15vmin var(--neon-glow);
  }

  .products-manufacturer{
    color: #dddddd;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
  }
 
  
    
 

  



        