<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/5554565644.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&effect=fire-animation">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&effect=3d-float">
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title> Sneakers Stockroom</title>

</head>

<body>

    <header>
     <div>
        
        <a href="/"><img class="sneaker" id="img" src="/static/images/shoe.jpg" alt="home"></a>
    </div>
    </header>

    <nav>
        <ul class="menu">
           <li><a href="/"><i class="fa-solid fa-house fa-2x"></i> Home </a></li>  
            <li><a href="/products"> <i class="fa-solid fa-socks fa-2x"></i>Products</a></li>
            <li><a href="/manufacturers"><i class="fa-solid fa-boxes-packing fa-2x"></i>Manufacturers</a></li>
            <li><a href="/products/new"><i class="fa-solid fa-plus fa-2x"></i>Add Product</a></li>
            <li><a href="/manufacturers/new"><i class="fa-solid fa-circle-plus fa-2x"></i>Add Manufacturer</a></li>


        </ul>
    </nav>
    <div class="container">
        {%block content%}
        {% endblock %}

    </div>
    
    <footer>

        <h3>&#169; 2022, Ajsneakers. </h3>

        <div class="icons">
        <i class="fa-brands fa-instagram fa-3x"></i>
        <i class="fa-brands fa-whatsapp fa-3x"></i>
        <i class="fa-brands fa-discord fa-3x"></i>
        </div>
        
    </footer>
</body>


</html>